<div
  class="background-modal-image animated fadeIn fast"
  [class.hidden]="modalImageService.hiddenModal"
>
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Upload image</h4>
          <button
            type="button"
            class="close cursor"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Select image</h3>

          <div class="image">
            <img
              *ngIf="!imgTemp"
              class="img__avatar"
              [src]="modalImageService.img"
            />
            <img *ngIf="imgTemp" class="img__avatar" [src]="imgTemp" />
          </div>

          <br />

          <input type="file" (change)="changeImage($event)" />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-primary" (click)="uploadImage()">
            Update photo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
