<div class="row">
  <div class="col-6">
    <!-- ===== Graphic ===== -->
    <app-doughnut [title]="'Sales'"></app-doughnut>
  </div>
  <div class="col-6">
    <!-- ===== Graphic ===== -->
    <app-doughnut [title]="'Product'" [labels]="labelProduct"></app-doughnut>
  </div>
  <div class="col-6">
    <!-- ===== Graphic ===== -->
    <app-doughnut title="Inventory" [labels]="labelInventory"></app-doughnut>
  </div>
  <div class="col-6">
    <!-- ===== Graphic ===== -->
    <app-doughnut></app-doughnut>
  </div>
</div>
